<template name="about">
  <div class="container">
    <h1>meteorSpark</h1>
    <p>
      A boilerplate Meteor App that controls a Spark Core Device.
    </p>
    <p>
      Control a spark device through a web app
    </p>
    <div class="row">
      <div class="col-md-6">

        <h2>Dependencies</h2>
        <ul>
          <li>meteor-platform</li>
          <li>accounts-base</li>
          <li>alanning:roles</li>
          <li>iron:router</li>
          <li>aldeed:simple-schema</li>
          <li>aldeed:collection2</li>
          <li>aldeed:autoform</li>
          <li>momentjs:moment</li>
          <li>twbs:bootstrap</li>
        </ul>

        <h2>Quick Start</h2>
        <ol>
          <li>Clone: <code>git clone git@github.com:MattReisman/meteorSpark.git</code></li>
          <li><code>cd meteorSpark</code></li>
          <li>Remove the .git folder</li>
          <li><code>git init</code></li>
          <li><code>meteor</code></li>
        </ol>
        </div>
      <div class="col-md-6">
        <h2>Projects Built on and Referenced</h2>
        <p>
          <a href="https://github.com/kjetilhau/meteor-skeleton"><strong>meteor-skeleton</strong><em> by kjetilhau </em> </a>: Used for Project Structure
        </p>
        <br>
        <p>
          <a href="https://github.com/spark/sparkjs"><strong>SparkJS</strong><em> by spark </em> </a>: Javascript Library for Spark
        </p>
        <br>
      </div>

<!--       <div class="col-md-6">
        <h2>Structure</h2>
        <div class="well well-sm">
          <ul>
            <li>client
              <ul>
                <li>config</li>
                <li>lib
                  <ul>
                    <li>helpers</li>
                  </ul>
                </li>
                <li>routes</li>
                <li>startup</li>
                <li>stylesheets
                  <ul>
                    <li>components</li>
                    <li>sites</li>
                  </ul>
                </li>
                <li>subscriptions</li>
                <li>views
                  <ul>
                    <li>documents</li>
                    <li>layouts</li>
                    <li>pages</li>
                    <li>shared</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>lib
              <ul>
                <li>collections</li>
                <li>helpers</li>
              </ul>
            </li>
            <li>public
              <ul>
                <li>img</li>
                <li>fonts</li>
              </ul>
            </li>
            <li>server
              <ul>
                <li>config</li>
                <li>fixtures</li>
                <li>lib</li>
                <li>publications</li>
                <li>startup</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
   -->

    </div>
  </div> <!-- /container -->
</template>
