.account-page {
  text-align: center;
  .form-group {
    max-width: 400px;
    margin: 1em auto;
    input {
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    }
    // input:-webkit-autofill {
    //    -webkit-box-shadow: 0 0 0px 1000px #ccc inset;
    // }
  }
}



#account-update {
  text-align: center;
  .form-update {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup .checkbox {
    font-weight: normal;
  }
  .form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signup input[type="password"] {
    margin-top: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #account-create {
    margin-top: 20px;
  }
}


